/**
 * Posts
 */
 .post-header {
    margin-bottom: $spacing-unit;
}
  
.post-title,
.post-content h3 {
    @include relative-font-size(1.375);
    letter-spacing: -1px;
    line-height: 1.15;

    @media screen and (min-width: $on-laptop) {
        @include relative-font-size(1.625);
    }
}

.post-content {
    h1, h2, h3 { margin-top: $spacing-unit }
    h4, h5, h6 { margin-top: $spacing-unit }

    h2 {
        @include relative-font-size(1.75);

        @media screen and (min-width: $on-laptop) {
            @include relative-font-size(2);
        }
    }

    h3 {
        @include relative-font-size(1.375);

        @media screen and (min-width: $on-laptop) {
            @include relative-font-size(1.625);
        }
    }

    h4 {
        @include relative-font-size(1.25);
    }

    h5 {
        @include relative-font-size(1.125);
    }
    h6 {
        @include relative-font-size(1.0625);
    }
}


article, .comments, .box {
    padding: $spacing-unit;
    background: $content-color;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    margin: 25px 0;
    @include media-query($on-mobile) {
        padding: 0;
        background: transparent;
        box-shadow: none;
    }
}
.comments {
    @media screen and (min-width: $on-mobile) {
        padding:15px $spacing-unit;
    }
}

.page-content {
    margin-top: 80px;
}

.htl {
font-size: 18px;
padding: 10px;
border-left: 1px solid #E0E0E0;
}

.hbt {
color:#000;
background:#fff;
padding:6px 15px;
border:2px solid #000;
-webkit-transition: .3s;
transition: .3s;
font-size:12.5px;
}
.hbt:hover{
color:#fff;
border:2px solid #000;
background-color:#000;
}

/* List  */
.tml{
 overflow:hidden;
}
.tml .t-apb{
 font-size: 14px;
 display: block;
 position: relative;
 overflow: hidden;
}
.tml .t-apb a{
 line-height: 30px;
 width: 3.704%;
 color: #FFFFFF;
 background: #424242;
 transition: all 0.25s;
 text-align: center;
 float: left;
}
.tml .t-apb a:hover{
 text-decoration: none;
 background: #2977BE;
 color: #FFFFFF;
}
.tml .t-wrap{
 margin-top: 5px
}
.tml .t-group{
 display: inline-block;
 width: 100%;
 margin-bottom: 10px;
}
.tml .t-head{
 font-weight: 700;
 border-bottom: 2px solid #2977BE;
 font-size: 15px;
 padding: 5px;
}
.tml .t-head a{
 color: #fff;
}
.tml .t-item{
 float: left;
 width: 50%;
}
.tml .t-title{
 display: list-item;
 margin-left: 20px;
}
.tml .t-title a{
 line-height: 24px;
 font-size: 14px;
 color: #E0E0E0;
 text-overflow: ellipsis;
 overflow: hidden;
}
@media only screen and (max-width: 768px){.tml .t-item{width:50%}}
@media screen and (max-width:480px){.tml .t-item{width:100%}.tml .t-apb a{margin: 1px;width: 10.43%}}
@media screen and (max-width:320px){.tml .t-apb a{width: 10.24%}}
